@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--background: #FFF;
	--primary: #496679;
	--secondary: lightgray;
	--accent: lightblue;
	--text-color: #666;
	--font-primary: 'Atkinson Hyperlegible';
	--font-secondary: 'Inter';
}

html {
	background: var(--background);
}

header img.profile_photo {
	border-radius: 20px;
	width: 60px;
	height: auto;
}

header a {
	border: none;
}

header .site-title {
	display: flex;
	align-items: center;
	gap: 10px;
}

header h1 {
	display: inline;
	margin: 0;
}

body {
	max-width: 700px;
	padding: 20px;
	margin: 0 auto;
	font-family: serif;
	color: var(--text-color);
	font-family: var(--font-primary), Georgia;
	font-size: 1.15em;
	line-height: 1.5;
}

a {
	color: var(--primary);
	text-decoration: none;
	border-bottom: 1px solid var(--primary);
}

a:hover {
	border: none;
}

nav {
	font-size: 0.8em;
	font-weight: bold;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline;
	padding: 0;
	margin: 0;
}

nav a {
	padding: 5px 10px;
	border: 1px solid var(--primary);
	border-radius: 20px;
	text-decoration: none;
	color: var(--primary)
}

nav a:hover {
	background: var(--secondary);
	border: 1px solid var(--primary);
}

.post_list {
	margin-top: 50px;
}

.post_list ul {
	list-style-type: none;
	padding: 0;
}

.post_list ul li {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid var(--primary);
	overflow: hidden;
	padding: 20px 0;
}

.post_list ul li span.post-date-wrapper {
	float: right;
}

.post_list ul li p {
	display: inline;
}

.post_list ul li a {
	text-decoration: none;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondary), sans-serif;
	font-weight: bold;
}

h2 {
	font-size: 1.8em;
}
