:root {
	--background: #FFF;
	--primary: #496679;
	--secondary: lightgray;
	--accent: lightblue;
	--text-color: #666;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url('fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
		 url('fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url('fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
		 url('fonts/Atkinson-Hyperlegible-Italic-102.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url('fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
		 url('fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url('fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
		 url('fonts/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

html {
	background: var(--background);
}

header img.profile_photo {
	border-radius: 20px;
	width: 60px;
	height: auto;
}

header a {
	border: none;
}

header h1 {
	display: inline;
}

body {
	max-width: 700px;
	padding: 20px;
	margin: 0 auto;
	font-family: serif;
	color: var(--text-color);
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-size: 1.15em;
	line-height: 1.5;
}

a {
	color: var(--primary);
	text-decoration: none;
	border-bottom: 1px solid var(--primary);
}

a:hover {
	border: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline;
	padding: 0;
	margin: 0;
}

nav a {
	padding: 7px 10px;
	border: 1px solid var(--primary);
	border-radius: 20px;
	text-decoration: none;
	color: var(--primary)
}

nav a:hover {
	background: var(--secondary);
	border: 1px solid var(--primary);
}

.post_list {
	margin-top: 50px;
}

.post_list ul {
	list-style-type: none;
	padding: 0;
}

.post_list ul li {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid var(--primary);
	overflow: hidden;
	padding: 20px 0;
}

.post_list ul li span.post-date-wrapper {
	float: right;
}

.post_list ul li p {
	display: inline;
}

.post_list ul li a {
	text-decoration: none;
	border: none;
}
