{{ define "main" }}
<div class="archive h-feed {{ .Title }}">
  <h2 class="p-name category-title">{{ .Title }}</h2>
  <div class="post_list" role="main">
      {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "post") }}
      {{ range .Paginator.Pages }}
      <div class="post-preview h-entry {{ range .Params.categories }} {{ . | urlize | lower }}{{ end }}">
          <div class="post-date-wrapper">
          <a href="{{ .Permalink }}" class="post-date u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ partial "dateformat/short" . }}</time></a>
          </div>
          {{ if .Title }}
              <h2 class="post-title p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                  {{ if in .RawContent "<!--more-->" }}
                      <div class="p-summary">
                          {{ $splitContents := split .RawContent "<!--more-->" }}
                          {{ $summary := index $splitContents 0 }}
                          {{ $summary := replaceRE "\\[\\^.*?\\]" "" $summary }}
                          {{ $summary := replaceRE "\\n\\[\\^.*?\\]:.*" "" $summary }}
                          <p>{{ $summary | markdownify }}</p>
                          <p><a class="read-more" href="{{ .Permalink }}"><button>
                              {{ T "Read more" }} →
                          </button></a></p>
                      </div>
                  {{ else }}
                      <div class="e-content with-title">
                          {{ .Content }}
                      </div>
                  {{ end }}
          {{ else }}
              <div class="e-content without-title">
                  {{ .Content }}
              </div>
          {{ end }}
      </div>
      {{ end }}
  </div>
</div>
<div class="post-nav">
    {{ if $paginator.HasPrev }}
    <span class="prev">
        <a href="{{ $paginator.Prev.URL }}" title="Previous Page"><button>← Newer</button></a>
    </span>
    {{ end }}
    {{ if $paginator.HasNext }}
    <span class="next">
        <a href="{{ $paginator.Next.URL }}"><button>Older →</button></a>
    </span>
    {{ end }}
</div>
{{ end }}
