{{ define "main" }}
<div class="archive">
	<h2 class="p-name post-title">{{ T "Archive" }}</h2>
	<h3>{{ T "Latest Update" }}</h3>
	{{ $micropostsCount := .Site.Params.microposts_count | default 1 }}
	{{ $customMicroposts := .Site.Params.custom_microposts | default "Microposts" }}
	{{ range first $micropostsCount (where .Site.RegularPages.ByDate.Reverse "Params.categories" "intersect" (slice $customMicroposts)) }}
		<div class="post-preview h-entry micropost">
			<div class="e-content">
				{{ .Content }}
				<span class="post-date-wrapper">
					<time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
						<a href="{{ .Permalink }}">{{ partial "dateformat/short" . }}</a>
					</time>
				</span>
			</div>
		</div>
	{{ end }}
	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}
	<div class="archive-categories">
		<h3>{{ T "Categories" }}</h3>
		<div class="category-list">
			{{ range $list }}
			<a href="{{ .Permalink }}"><button>{{ .Title }}</button></a>
			{{ end }}
		</div>
	</div>
	{{ end }}
	<div class="full-archives h-feed">
		<h3>{{ T "Full post list" }}</h3>
		<ul>
		{{ $customLongform := .Site.Params.custom_longform | default "Longform" }}
		{{ range where .Site.RegularPages.ByDate.Reverse "Params.categories" "intersect" (slice $customLongform) }}
		<li class="post-preview h-entry {{ range .Params.categories }} {{ . | urlize | lower }}{{ end }}">
			<span class="post-date-wrapper">
				<time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
					{{ partial "dateformat/short" . }}
				</time>
			</span>
			<a href="{{ .Permalink }}">{{ .Title }}</a>
		</li>

		{{ end }}
		</ul>
	</div>

</div>
{{ end }}
