{{ define "main" }}
<div class="posts h-feed">
    <div class="post_list" role="main">
        <h3>Latest Posts</h3>
        <ul>
        {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
        {{ range .Paginator.Pages }}
        <li class="post-preview h-entry {{ range .Params.categories }} {{ . | urlize | lower }}{{ end }}">
            <span class="post-date-wrapper">
                <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
                    {{ partial "dateformat/long" . }}
                </time>
            </span>
            {{ if .Title }}
                <h2 class="post-title p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ else }}
                <div class="e-content without-title">
                    {{ .Content }}
                </div>
            {{ end }}
        </li>
        {{ end }}
        </ul>
        <p>See All Posts</p>
    </div>
</div>
<div class="post-nav">
    {{ if $paginator.HasPrev }}
    <span class="prev">
        <a href="{{ $paginator.Prev.URL }}" title="Previous Page"><button>← {{ T "Newer" }}</button></a>
    </span>
    {{ end }}
    {{ if $paginator.HasNext }}
    <span class="next">
        <a href="{{ $paginator.Next.URL }}"><button>{{ T "Older" }} →</button></a>
    </span>
    {{ end }}
</div>
{{ end }}
