{{ define "main" }}
<div class="posts h-feed">
    <div class="post_list" role="main">
        <div class="single-post">
        {{ if templates.Exists "partials/microhook-category-microposts.html" }}
        {{ partial "microhook-category-microposts.html" . }}
        {{ else }}
        {{ range first 1 (where .Site.RegularPages.ByDate.Reverse "Params.categories" "intersect" (slice "Microposts")) }}
            <div class="post-preview h-entry micropost">
                <div class="e-content">
                    {{ .Content }}
                    <span class="post-date-wrapper">
                        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
                            <a href="{{ .Permalink }}">{{ partial "dateformat/short" . }}</a> | <a href="{{ "categories/microposts/" | relURL }}">{{ T "View all" }} →</a>
                        </time>
                    </span>
                </div>
            </div>
        {{ end }}
        {{ end }}
        </div>
        {{ if templates.Exists "partials/microhook-intro.html" }}
            <div class="introduction">
                {{ partial "microhook-intro.html" . }}
            </div>
          {{ end }}
        <div class="latest-posts">
        <h4>{{ T "Fresh off the press" }}</h4>
        {{ if templates.Exists "partials/microhook-category-longform.html" }}
        {{ partial "microhook-category-longform.html" . }}
        {{ else }}
        <ul>
        {{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Params.categories" "intersect" (slice "Longform")) (site.Params.paginate) }}
        {{ range $paginator.Pages }}
        <li class="post-preview h-entry {{ range .Params.categories }} {{ . | urlize | lower }}{{ end }}">
            <span class="post-date-wrapper">
                <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
                    {{ partial "dateformat/short" . }}
                </time>
            </span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        </ul>
        <p class="view-all"><a href="{{ "categories/longform/" | relURL }}">{{ T "View all" }} →</a></p>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}
